@import url(http://fonts.googleapis.com/css?family=Lato:100,200,300,400,700,900);

$inputFont: 10.5vw;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  -webkit-font-smoothing:antialiased;
}

html{
  height: 100%;
}

body{
  height: 100%;
  margin: 0;
}

.container{
  height: 100%;
}

.viewerWindow{
  height: 100%;
}

.background{
  height: 100%;
  width: 100%;
  background: url('http://i.imgur.com/iolA4GW.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  z-index: 1;
  filter: blur(5px);
}

.centerScreen{
  z-index: 3;
  position:absolute;
  width:100%;
  text-align:center;
  top: 35%;
  
  .inputWindow{
    margin-left: 8px;
    input {
      height: 100%;
      width: 100%;
      background-color:rgba(0, 0, 0, 0);
      border: none;
      outline:none;
      transition:height 1s;
      -webkit-transition:height 1s;
      font-size: $inputFont;

    }
    input:focus {
      // font-size:16px;
    }
  }

  .text{
    font-size: $inputFont;
  } 
}

.toDoItems{
  width: 50%;
  height: 100%;
  margin: auto;
  z-index: 2;
}

